html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f5f4ef;
}

.home_banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/Pics/Banner.png);
}

.ant-drawer-body {
  background-color: #fafafa;
}

.ant-drawer-header {
  background-color: #fafafa;
}
